* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  overflow: auto;
  padding: 4vh 8vw;
  transition: all 0.5s ease;
}
.modal-content {
  width: 100%;
  float: left;
  position: relative;
}
.preview {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.preview img {
  display: inline-block;
  height: 60vh;
}
.caption-container {
  width: 100%;
  float: left;
  padding: 8px 0 8px 0;
  text-align: center;
  background-color: #dd2929;
  margin-top: 8px;
}
.caption-container p {
  font-size: 22px;
  color: white;
}
.thumbs {
  width: 100%;
  float: left;
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}
.thumb-one {
  width: 16.66%;
  float: left;
  transition: all 0.3s ease;
  cursor: pointer;
}
.thumb-img {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.thumb-img:hover,
.active {
  opacity: 1;
}
.thumb-one img {
  width: 100%;
}
.close {
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 46px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-size: 18px;
  top: 0;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
  color: black;
}

.mySlides {
  transition: all 0.5s ease;
}
.numbertext {
  transition: all 0.5s ease;
}
